.env
*.pyc
*.db
__pycache__/
*.py[cod]
*$py.class
venv/
venv_2/
venv_3/
.venv

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml



lib/
lib64/
*.egg
*.egg-info
sdist/
var/
dist/
downloads/
develop-eggs/
coverage.xml
nosetests.xml
.Python
*.log
local_settings.py

